<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">


       <p class="text" style="margin-top: 40px; margin-bottom: 40px;"> Soy senior en el siguiente stack de tecnologías </p>
      
       <!-- stak -->

      <div fxLayout="row wrap"  fxLayoutAlign="space-around space-between" fxFlex="100" style="background:rgb(252, 242, 228); margin-bottom: 40px; height: 500px; padding: 20px;">

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/angular.png" id="angular" class="grayScaleImg"  > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/node-bg.png" id="node" class="grayScaleImg"> 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/express-bg.png" id="node" class="grayScaleImg" > 
         </div>


         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/mongodb-atlas.png" id="mongo" class="grayScaleImg"> 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/nginx-bg.png" id="mongo" fxFlex="80" class="grayScaleImg" > 
         </div>
         
         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/redux-ngrx.png" id="mongo" fxFlex="80" class="grayScaleImg" > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/typescrypt-bg.png" id="mongo" class="grayScaleImg" > 
         </div>

         <div  fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/lenguajes-bg.png" id="mongo" fxFlex="80" class="grayScaleImg"> 
         </div>

         <div  fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="../../../assets/github-bg.png" id="mongo" fxFlex="78" > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/pwa-bg.png" id="mongo" fxFlex="50" class="grayScaleImg" > 
         </div>

         <div fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/jasmine-bg.png" id="mongo" class="grayScaleImg" > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/google-bg.png" id="mongo" class="grayScaleImg" > 
         </div>

         <div fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/material.png" id="mongo" fxFlex="40" class="grayScaleImg"> 
         </div>

         
         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/bootstrap-bg.png" id="mongo" fxFlex="50" class="grayScaleImg" > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/jenkins-bg.png" id="mongo" fxFlex="90" class="grayScaleImg"> 
         </div>

      </div>

      <!-- end stack -->

      <p class="text" style="margin-top: 40px; margin-bottom: 40px;"> Acá te muestro mi portfolio </p>

      <!-- portfolio -->
      <div fxLayout="row wrap"  fxLayoutAlign="center center"  style=" margin-bottom: 40px; ">

            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="padding: 5px;">
               <span  class="font" style="font-size: 2em; text-align: start; width: 100%; color: #FF6F91; line-height: 30px;">Food App </span>  
                <p class="font" style="font-size: 1.2em; color: white; margin-top: 10px;"> Food App es una PWA construida íntegramente con  el mejor stack de tecnologías. Permite hacer pedidos de comidas, delivery por geolocalizacion, panel de administracion y mucho mas... </p>

                <span class="material-icons notranslate" style="text-align: end; width: 100%; color: white; margin-top: 15px; margin-bottom: 51px;" (click)="keepReading()" *ngIf="readMore">close</span>

                <p class="font" style="font-size: 1.3em; color: white; margin-top: 10px; line-height: 25px;" *ngIf="readMore"> <b>Características Destacadas:</b> &nbsp;<br>

                  <b>Geolocalización en Tiempo Real para Entregas Rápidas: </b> &nbsp;Con nuestra avanzada tecnología de geolocalización, puedes realizar un seguimiento en tiempo real de tu pedido y saber exactamente cuándo llegará a tu puerta. ¡Di adiós a la incertidumbre de la entrega! <br>
                  
                  <b>Plataforma de Pago Seguro:</b> &nbsp; Hemos implementado una plataforma de pago segura que garantiza que tus transacciones sean rápidas, convenientes y, lo más importante, seguras. Aceptamos múltiples métodos de pago para tu comodidad.
                  <br>
                  <b>Seguimiento de Estado del Pedido:</b> &nbsp; Nunca te preguntarás "¿Dónde está mi pedido?" Nuestra aplicación te permite realizar un seguimiento en tiempo real del estado de tu pedido, desde la preparación en la cocina hasta la entrega en tu puerta.
                  <br>
                  <b>Personalización de Pedidos: </b> ¿Eres un amante de la comida con preferencias únicas? ¡Estás de suerte! Puedes personalizar tus pedidos según tus gustos personales, desde ingredientes adicionales hasta restricciones dietéticas.
                  <br>
                  <b>Ofertas y Promociones Especiales:</b> &nbsp; Mantente al tanto de las ofertas y promociones exclusivas que ofrecemos regularmente. ¡Ahorra en tus comidas favoritas!
                  <br>
                  <b>Panel de Administrador:</b> &nbsp; Nuestra plataforma también incluye un potente panel de administrador que permite a los propietarios de restaurantes y gerentes de establecimientos:
                  
                  Realizar operaciones CRUD (Crear, Leer, Actualizar y Borrar) de clientes, personal de entrega, pedidos, productos y categorías de productos.
                  
                  Pausar temporalmente la aplicación cuando sea necesario para gestionar la demanda o realizar mantenimiento.
                  
                  Gestionar horarios de atención para garantizar una experiencia de pedido fluida.
                  
                  Crear y gestionar ofertas especiales y promociones para atraer a más clientes.</p>

                <p class="font" style="font-size: 1.2em; color: white; margin-top: 10px;" (click)="keepReading()" *ngIf="!readMore"> seguir leyendo... </p>

                <span class="material-icons notranslate" style="text-align: end; width: 100%; color: white; margin-top: 15px; margin-bottom: 15px;" (click)="keepReading()" *ngIf="readMore">close</span>
               <img src="assets/food-banner.png" alt="food app" fxFlex.xs="100">
            </div>




            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="padding: 5px; margin-top: 30px;">
               <span  class="font" style="font-size: 2em; text-align: start; width: 100%; color: #FF6F91; line-height: 30px;">Gestion </span>  
                <p class="font" style="font-size: 1.2em; color: white; margin-top: 10px;"> Food App es una PWA construida íntegramente con  el mejor stack de tecnologías. Permite hacer pedidos de comidas, delivery por geolocalizacion, panel de administracion y mucho mas... </p>

                <span class="material-icons notranslate" style="text-align: end; width: 100%; color: white; margin-top: 15px; margin-bottom: 15px;" (click)="keepReading()" *ngIf="readMore">close</span>
                <img src="assets/gestion-banner.png" alt="food app" fxFlex.xs="100">
            
               </div>
     </div>
     <!-- end portfolio -->


</div>



