
.text{
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    color: blanchedalmond;
    text-align: center;
    padding: 10px;
    line-height: 4vw;
}

.text2{
    font-family: 'Nunito Sans', sans-serif;
    font-stretch: expanded;
    font-size: 2vw;
    color: blanchedalmond;
    text-align: center;
    padding: 10px;
    line-height: 4vw;
}



mat-card-title{
    font-family: 'Poppins', 'sans-serif'; 
    font-size: 2.3vw;
}
mat-card-content p{
    font-family: 'Nunito Sans', 'sans-serif'; 
    font-size: 2vw;
    line-height: 4vw;
   }

#mongo{
    width: 20vw;
}
#angular{
    width: 20vw;
}
#node{
    width: 20vw;
}

.grayScaleImg{
    filter: grayscale(100%);
}

.fa-whatsapp{
    font-size: 4em;
    transition: all 0.3s ease 0s;
}
 
.fa-instagram{
    font-size: 3.2em;
    transition: all 0.3s ease 0s;
}

.fa-facebook-f{
    font-size: 3.2em;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 573px){  

    .text{
         font-size: 2em;
         line-height: 30px;
    }

    .fa-whatsapp{
        font-size: 3.2em;
        transition: all 0.3s ease 0s;
    }

    .fa-instagram{
        font-size: 3.4em;
        transition: all 0.3s ease 0s;
    }

    .fa-facebook-f{
        font-size: 3.2em;
        transition: all 0.3s ease 0s;
    }
    

   mat-card-title {
       font-size: 5vw;
       text-align: center;
   }

   mat-card-content p{
        font-size: 6vw;
        line-height: 10vw;
   }


    mat-icon{
        transform: scale(2);
    }
   
}

@media only screen and (min-width: 800px){

}

@media only screen and (min-width: 1200px) {

 

}

@media only screen and (min-width: 1400px) {
    
   
}
