<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" >


       <p class="text" style="margin-top: 40px; margin-bottom: 40px;"> Soy senior en el siguiente stack de tecnologías </p>
      
       <!-- stack -->
      <div fxLayout="row wrap"  fxLayoutAlign="space-between space-between" fxFlex="100" style="background:rgb(252, 242, 228); margin-bottom: 40px; height: 400px; padding: 30px; ;">

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/angular.png" id="angular" class="grayScaleImg" fxFlex.xs="100" fxFlex.sm="100" fxFlex="50"  > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/node-bg.png" id="node" class="grayScaleImg" fxFlex.xs="100" fxFlex.sm="100" fxFlex="50"> 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/express-bg.png" id="node" class="grayScaleImg" fxFlex.xs="100" fxFlex.sm="100" fxFlex="50" > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxLayoutAlign="center center">
            <img src="assets/mongodb-atlas.png" id="mongo" class="grayScaleImg" fxFlex.xs="100" fxFlex.sm="100" fxFlex="50"> 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/nginx-bg.png" id="mongo" class="grayScaleImg" fxFlex.xs="80" fxFlex.sm="80" fxFlex="50"> 
         </div>
         
         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/redux-ngrx.png" id="mongo"  class="grayScaleImg" fxFlex.xs="80" fxFlex.sm="80" fxFlex="50"> 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/typescrypt-bg.png" id="mongo" class="grayScaleImg" fxFlex.xs="100" fxFlex.sm="100" fxFlex="50" > 
         </div>

         <div  fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/lenguajes-bg.png" id="mongo" fxFlex="80" class="grayScaleImg" fxFlex.xs="100" fxFlex.sm="100" fxFlex="50"> 
         </div>
        
         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center" >
            <img src="assets/pwa-bg.png" id="mongo" class="grayScaleImg" fxFlex.xs="50" fxFlex.sm="50" fxFlex="30"> 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center" fxLayoutAlign.sm="start center">
            <img src="assets/jenkins-bg.png" id="mongo" class="grayScaleImg" fxFlex.xs="90" fxFlex.sm="90" fxFlex="30" > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/jasmine-bg.png" id="mongo" class="grayScaleImg"  fxFlex.xs="100" fxFlex.sm="100" fxFlex="50"> 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/google-bg.png" id="mongo" class="grayScaleImg" fxFlex.xs="90" fxFlex.sm="90" fxFlex="50"> 
         </div>

         <div  fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/github-bg.png" id="mongo"  fxFlex.xs="40" fxFlex.sm="40" fxFlex="30" > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/bootstrap-bg.png" id="mongo"  class="grayScaleImg" fxFlex.xs="50" fxFlex.sm="50" fxFlex="30" > 
         </div>

         <div fxFlex="20" fxFlex.xs="30" fxFlex.sm="25" fxLayoutAlign="center center">
            <img src="assets/material.png" id="mongo" fxFlex="40" class="grayScaleImg" fxFlex.xs="40" fxFlex.sm="40" fxFlex="30"> 
         </div>

         

      
      </div>
      <!-- end stack -->

      <p class="text" style="margin-top: 40px; margin-bottom: 40px;"> Algo de mi trabajo como freelance... </p>

      <!-- portfolio -->
      <div fxLayout="row wrap"  fxLayoutAlign="center center"  style=" margin-bottom: 40px; margin-top: 60px;">

            <!-- food -->
            <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" style="padding: 10px;">

               <span  class="font" style="font-size: 2em; text-align: start; width: 100%; color: #FF6F91; ">Food App </span>  

               <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" style="padding: 5px;">

                 <div fxLayout="row wrap" fxLayoutAlign="space-between start"  fxFlex.xs="100"  fxFlex.sm="100" fxFlex="50" style="padding: 0px">

                     <span class="font" style="font-size: 1.2em; color: white; margin-top: 20px; line-height: 30px; text-align: start;" fxLayout="row wrap" fxFlex="100"> Food App es una PWA construida con el stack MEAN y las mejores prácticas de programación, incluye una base de datos no relacional. Permite hacer pedidos de comidas, delivery por geolocalizacion, panel de administracion, geolocalización en tiempo real para entregas rápidas, seguimiento de estado del pedido... Nuestra plataforma también incluye un potente panel de administrador que permite a los propietarios de restaurantes y gerentes de establecimientos, Crear, Leer, Actualizar y Borrar  clientes, personal de entrega, pedidos, productos y categorías de productos.Pausar temporalmente la aplicación cuando sea necesario para gestionar la demanda o realizar mantenimiento, entre otras funcionalidades.
                     <b style="font-style: italic;"> (Por el momento solo es responsiva para celulares)</b>
                     </span>
                     <a href="https://fooodapp.shop/home" target="_blank" class="font" style="font-size: 1.2em; margin-top: 20px; color: #ffe222; margin-bottom: 20px;" > Navegar al sitio </a>
                 </div>
                     
                  
                  <img src="assets/food-banner.png" alt="food app" fxFlex.xs="100" fxFlex.sm="60" fxFlex="35" style="margin-top: 5px;">
                  
               </div>
     
            </div>
            <!-- end food -->

            <!-- gestion -->
            <div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" style="padding: 10px; margin-top: 100px;">
               <span  class="font" style="font-size: 2em; text-align: start; width: 100%; color: #FF6F91;margin-bottom: 50px; ">Gestion App</span>  

               <img src="assets/gestion-banner.jpg" alt="banner gestion" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="65">

               <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="35" style="padding: 5px; ">
                  <span  fxLayout="row wrap"  fxLayoutAlign="end start"  fxFlex.xs="100" fxFlex.sm="100" fxFlex="80" class="font" style="font-size: 1.2em; color: white; text-align: justify; line-height: 30px;"> Gestion App es una PWA que permite gestionar la toma de pedidos de vendedores, tambien ofrece una amplia gama de opciones en gestion de artículos, clientes, estados de pedidos, etc</span>

                  <a href="https://gestion.feintdevs.com/home" target="_blank" fxLayout="row wrap"  fxLayoutAlign="start start"  fxFlex.xs="100" fxFlex.sm="100" fxFlex="80"  class="font" style="font-size: 1.2em; margin-top: 20px; text-align: start; color: #22b2ff;" > Navegar al sitio </a>
               </div>   
            
            </div>
            <!-- emd gestion -->

            <!-- m3d -->
            <div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" style="padding: 5px; margin-top: 100px;">

               <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="30" >

                  <span  fxFlex="50" class="font" style="font-size: 2em; color: #FF6F91; text-align: start; margin-bottom: 30px;" >M3D  </span>  

                  <span fxLayout="row wrap" fxLayoutAlign="center start" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" class="font" style="font-size: 1.2em; color: white; margin-top: 10px; text-align: justify;"> M3D es una web app para ofrecer servicios de diseño e impresión 3d. Diseño simple, con sliders para ofrecer los productos y servicios para el hogar y la industria. </span>
                  <a href="https://m3d-realico.com" target="_blank" class="font" style="font-size: 1.2em; margin-top: 20px; text-align: start; width: 100%; color: #ff8522;" > Navegar al sitio </a>
               </div>   
            
                <img src="assets/m3d-banner.jpg" alt="food app" fxFlex.xs="100" fxFlex.sm="100" fxFlex="70" style="margin-top: 10px;">
            </div>
            <!-- end m3d -->

             <!-- revimack -->
            <div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" style="padding: 5px; margin-top: 100px;">
              
               <span  class="font" style="font-size: 2em; text-align: start; width: 100%; color: #FF6F91; margin-bottom: 30px;">Revimack Agro </span>  

               <img src="assets/revimack-banner.jpg" alt="revimack app" fxFlex.xs="100" fxFlex.sm="100" fxFlex="65" style="margin-top: 10px;">
                  
               <div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex.xs="100" fxFlex.sm="100" fxFlex="35" style="padding: 5px;">

                  <span fxLayout="row wrap" fxLayoutAlign="end center" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" class="font" style="font-size: 1.2em; color: white; text-align: justify;"> Revimack Agro es una pagina web responsiva donde se ofrecen maquinaria e implementos agropecuarios, el sitio esta codificado con metatags y estrategias de Google Ads para recolectar información que se utiliza en campañas de marketing digital</span>
                  <a fxLayout="row wrap" fxLayoutAlign="start center" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" href="https://revimackagro.com" target="_blank" class="font" style="font-size: 1.2em; margin-top: 20px; text-align: start; color: green;" > Navegar al sitio </a>
               </div>   
           
               </div>
            <!-- end revimack -->

            <!-- epet -->
            <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" style="padding: 5px; margin-top: 100px;">

               <span  class="font" style="font-size: 2em; text-align: start; width: 100%; color: #FF6F91; margin-bottom: 30px;">EPET N°6  </span>  

               <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex.xs="100" fxFlex.sm="100" fxFlex="30" style="padding: 0px;">

                  <span fxLayout="row wrap" fxLayoutAlign="start center" fxFlex.xs="100"  fxFlex.sm="94" fxFlex="94" class="font" style="font-size: 1.2em; color: white; text-align: justify;"> EPET 6 es un sitio web simple en html + javascript que es utilizado por la institución educativa homónima, para mantener informados a sus alumnos y/o padres. </span>
                  <a fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100"  href="http://epet6realico.edu.ar/" target="_blank" class="font" style="font-size: 1.2em; margin-top: 20px; text-align: start; width: 100%; color: rgb(255, 255, 238);" > Navegar al sitio </a>

              </div>   
            
               <img src="assets/epet-banner.jpg" alt="food app" fxFlex.xs="100" fxFlex.sm="100" fxFlex="65"  style="margin-top: 10px;">

            </div>
            <!-- end epet -->

            <!-- infomatrix -->
            <div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" style="padding: 5px; margin-top: 100px;">
         
               <span  class="font" style="font-size: 2em; text-align: start; width: 100%; color: #FF6F91; margin-bottom: 30px;">Infomatrix Argentina </span>  

               <img src="assets/infomatrix-banner.jpg" alt="infomatrix" fxFlex.xs="100" fxFlex.sm="100" fxFlex="65" style="margin-top: 10px;">
                  
               <div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex.xs="100" fxFlex.sm="100" fxFlex="35" style="padding: 5px;">

                  <span fxLayout="row wrap" fxLayoutAlign="end center" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" class="font" style="font-size: 1.2em; color: white; text-align: justify;"> Infomatrix Argentina es un sitio web creado para informar acerca de la muestra internacional de ciencia y tecnología que en el 2023 se desarrolla en Argentina. Esta construido con angular y bootstrap, ademas consta de un servidor en el back hecho en node + express, para registrar en base de datos las inscripciones a las distintas conferencias y acceder a las mismas desde el front. </span>
                  <a fxLayout="row wrap" fxLayoutAlign="start center" fxFlex.xs="100"  fxFlex.sm="100" fxFlex="85" href="https://revimackagro.com" target="_blank" class="font" style="font-size: 1.2em; margin-top: 20px; text-align: start; color: rgb(9, 121, 159);" > Navegar al sitio </a>
               </div>   
            
               </div>
            <!-- end infomatrix -->

            


     </div>
     <!-- end portfolio -->


     <p class="text" style="margin-top: 40px; margin-bottom: 30px;"> Nos ponemos en contacto? </p>


   
     <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" style="background:rgb(252, 242, 228); margin-bottom: 0px;  height: 120px;" >

      <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="85" >
         
            <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="40" *ngIf="!phone" >
               <span class="material-icons notranslate" style="text-align: end;"> copyright </span> &nbsp;
               <span class="font" style="font-size: 1.2em; text-align: start;" fxFlex="90"> Feint dEvs 2019. Todos los derechos reservados. </span>
            </div>   

            <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="16" fxFlex="10">
               <a href="https://wa.me/+542302416035?text=Hola!!%20" target="blank" (click)="goToUrl('cel')" style="color: black;"  >
                  <i class="fab fa-whatsapp " ></i>
               </a>
            </div>

            <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="16" fxFlex="10">
                  <img src="assets/linkedin-bg.png" alt="linkedin" fxFlex.xs="65" fxFlex.sm="55" fxFlex="35" style=" filter: brightness(0);"  (click)="goToUrl('linkedin')">
            </div>


            <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="16" fxFlex="10">
               <button mat-icon-button (click)="openBottomSheet()" class="example-icon" >
                  <mat-icon>email</mat-icon>
               </button>
            </div>

            
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="16" fxFlex="10">
               <a  href="https://www.instagram.com/feintdevs/" target="blank" style="color: black;" > 
               <i class="fab fa-instagram" ></i>
               </a>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="16" fxFlex="10">
               <a  href="https://www.facebook.com/?locale=es_LA" target="_blank" style="color: black;">
               <i class="fab fa-facebook-f" ></i>
               </a>
            </div>

            <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex.xs="16" fxFlex="10" >
               <a href="assets/cv-ing_griotti.pdf" download >
                <span class="material-icons notranslate" style="color:rgb(1, 0, 14); transform: scale(1.7);"> download </span> 
              </a>
            </div>   
       

         </div>


   </div>



</div>



